		.carlinhos{
			background-color: #8611add6;
		}

		ul{
			text-align: center;
			align-items: center;
		}
		body{
			background-color: #040708c9;
		}



		.subuxa{
			width: 70%;


		}



		section{
			background-color: #8611add6;
			position: absolut;
			text-color: #f9f6fad6;
		}
		#devj{

			font-size: 12px;
			text-align: center;
			font-style: italic;
			text-color: white;
			
			
			
			
		}
		#ceemti{

			background: -webkit-gradient(linear, left top, right top, from(#faa3a3), to(#ff0000)) no-repeat;
            		background: -moz-linear-gradient(left, #faa3a3, #ff0000);
            		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#ff0000', EndColorStr='#faa3a3');            
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
			
		}
		main{
			max-width: 75%;
			justify-content: auto;
			align-items: auto;
			text-align: center;
			pading: 2px;
			position: absolut;
			
						
		}

		.Aula{
			font-size: 16px;
			text-align: center;
			font-weight: bold;
			align-items: center;
			text-align: center;
		}
		.materia{

			font-size: 16px;
			text-align: center;
			font-weight: bold;
			text-color: white;
			
		}

		header{
            		background: -webkit-gradient(linear, left top, right top, from(#faa3a3), to(#ff0000)) no-repeat;
            		background: -moz-linear-gradient(left, #ff0000, #faa3a3);
            		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#ff0000', EndColorStr='#faa3a3');            
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
		}

		#Progwebparwebdesign{

			background-color: #8611add6;
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
			margin: 0 auto;
			max-width: 95%;
			text-color: white;
			
			
		}
		#Desenvdegames{

			background-color: #8611add6;  
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
			margin: 0 auto;
			width: 50%;
			text-color: white;
			
			
			
		}
		#Analprogdesis{
			
			background-color: #8611add6;
			justify-content: center;
			align-items: center;
			text-align: center;
			pading: 2px;
			margin: 0 auto;
			max-width: 95%;
			text-color: white;
			
		}

		#Nasa{
	    
			display: flex;
			background-color: #0667ebd6;
			box-shadow: 7px 7px 9px 0px black;
			font-weight: bold;
			font-size: 20px;
			text-align: center; 
			justify-content: center;
			pading: 15px;
			
		        
		}

		.nome{
			font-weight: bold;
			font-size: 20px;
			text-align: center;
			align-items: center;
		}

		#pezin{

		    	background-color: #06c6eb;
			width: 100%;
       			text-color: #f9f6fad6;
        
		}
			@media screen and (max-width: 1200px){
				img{
		                	width: 400px;
		                	height: 400px;
		                	}
		            }
			@media screen and (max-width: 760px){
		                img{
		                	width: 400px;
		                	height: 400px;
		                	}
		            }
			@media screen and (max-width: 200px){
		                img{
		                	width: 300px;
		                	height: 300px;
		                	}
		            }
			@media screen and (max-width: 100px){
		                img{
		                	width: 200px;
		                	height: 200px;
		                	}
		            }
